/.github/                                            @brendt @innocenzi @aidan-casey
/.github/workflows/coding-conventions.yml            @aidan-casey
/.github/workflows/create-gh-release.yml             @innocenzi
/.github/workflows/deploy-docs.yml                   @innocenzi
/.github/workflows/integration-tests.yml             @aidan-casey
/.github/workflows/integration-tests-windows.yml     @aidan-casey @brendt
/.github/workflows/isolated-tests.yml                @aidan-casey
/.github/workflows/lint-pr-title.yml                 @innocenzi
/.github/workflows/publish-javascript-packages.yml   @innocenzi
/.github/workflows/subsplit-packages.yml             @aidan-casey
/.github/workflows/trigger-tempest-app-qa.yml        @brendt
/.github/workflows/trigger-tempest-clean-qa.yml      @brendt
/.github/workflows/validate-packages.yml             @aidan-casey
/.github/workflows/benchmark.yml                     @xHeaven
/.github/workflows/benchmark-comment.yml             @xHeaven
/src/                                                @brendt
/docs/                                               @brendt @innocenzi
/packages/auth/                                      @innocenzi
/packages/cache/                                     @innocenzi
/packages/clock/                                     @aidan-casey
/packages/command-bus/                               @brendt @aidan-casey
/packages/console/                                   @brendt
/packages/container/                                 @brendt
/packages/core/                                      @brendt
/packages/cryptography/                              @innocenzi
/packages/database/                                  @brendt @innocenzi
/packages/datetime/                                  @innocenzi
/packages/debug/                                     @innocenzi
/packages/discovery/                                 @brendt @aidan-casey
/packages/event-bus/                                 @brendt @aidan-casey
/packages/generation/                                @brendt
/packages/generation/src/TypeScript                  @innocenzi
/packages/http/                                      @brendt @aidan-casey
/packages/http-client/                               @aidan-casey
/packages/icon/                                      @innocenzi
/packages/kv-store/                                  @innocenzi
/packages/log/                                       @brendt
/packages/mail/                                      @innocenzi
/packages/mapper/                                    @brendt
/packages/process/                                   @innocenzi
/packages/reflection/                                @brendt @aidan-casey
/packages/router/                                    @brendt @aidan-casey
/packages/router/src/Exceptions/local                @innocenzi
/packages/storage/                                   @innocenzi
/packages/support/                                   @innocenzi @brendt
/packages/upgrade/                                   @brendt
/packages/validation/                                @brendt @innocenzi
/packages/view/                                      @brendt
/packages/vite/                                      @innocenzi
/packages/vite-plugin-tempest/                       @innocenzi
*.ts                                                 @innocenzi
*.vue                                                @innocenzi
