.idea/
build/
sessions/
vendor/
src/Tempest/database.sqlite
tests/Fixtures/database.sqlite
tests/Unit/Console/test-console.log
.env
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
debug.log
tempest.log
*.cache.php
tests/Integration/View/blade/cache