@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--font-sans: "Inter Variable", ui-sans-serif, system-ui;
	--font-mono:
		"JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, "Liberation Mono", "Courier New", monospace;

	--code-border: var(--ui-border);
	--code-background: transparent;
	--code-foreground: var(--ui-text-toned);
	--code-keyword: #e95678;
	--code-property: #fab795;
	--code-type: #25b0bc;
	--code-generic: #b877db;
	--code-value: #f09483;
	--code-variable: #f09483;
	--code-comment: #6c6f93;
	--code-highlight: #2e303e;
	--code-addition: #09f7a052;
	--code-deletion: #f43e5c52;
	--code-gutter: #6c6f93;
	--code-gutter-addition: #27d796;
	--code-gutter-deletion: #f43e5c;
	--code-moderate: #fab38e33;
	--code-complex: #e9567833;
	--code-adverb: #21bfc280;
	--code-passive: #b877db80;
	--code-complex-phrase: #25b0bc33;
	--code-qualified: #6c6f9333;
}

:root {
	--ui-radius: 0.5rem;

	--ui-bg: var(--color-neutral-50);
	--ui-bg-muted: var(--ui-color-neutral-50);
	--ui-bg-elevated: var(--ui-color-neutral-100);
	--ui-bg-accented: var(--ui-color-neutral-100);
	--ui-bg-inverted: var(--ui-color-neutral-900);
}

.dark {
	--ui-bg: var(--color-neutral-950);
	--ui-bg-muted: var(--ui-color-neutral-900);
	--ui-bg-elevated: var(--ui-color-neutral-900);
	--ui-bg-accented: var(--ui-color-neutral-800);
	--ui-bg-inverted: var(--color-neutral-50);
}

/*
|--------------------------------------------------------------------------
| Scrollbars
|--------------------------------------------------------------------------
*/

/* Scrollbar width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 4px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
	background: var(--ui-border-accented);
	border-radius: 4px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--ui-text-dimmed);
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--ui-border-accented) transparent;
}

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/

@font-face {
	font-family: "JetBrains Mono Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 800;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF,
		U+0131,
		U+0152-0153,
		U+02BB-02BC,
		U+02C6,
		U+02DA,
		U+02DC,
		U+0304,
		U+0308,
		U+0329,
		U+2000-206F,
		U+20AC,
		U+2122,
		U+2191,
		U+2193,
		U+2212,
		U+2215,
		U+FEFF,
		U+FFFD;
}

@font-face {
	font-family: "Inter Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range:
		U+0000-00FF,
		U+0131,
		U+0152-0153,
		U+02BB-02BC,
		U+02C6,
		U+02DA,
		U+02DC,
		U+0304,
		U+0308,
		U+0329,
		U+2000-206F,
		U+20AC,
		U+2122,
		U+2191,
		U+2193,
		U+2212,
		U+2215,
		U+FEFF,
		U+FFFD;
}
