on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write

name: Create a GitHub release

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # - name: Generate changelog
      #   uses: orhun/git-cliff-action@v4
      #   env:
      #     OUTPUT: CHANGELOG.md
      #     GITHUB_REPO: ${{ github.repository }}

      # - name: Update changelog
      #   uses: stefanzweifel/git-auto-commit-action@v5
      #   with:
      #     file_pattern: 'CHANGELOG.md'
      #     commit_message: "chore: update changelog"
      #     branch: main

      - name: Generate release notes
        uses: orhun/git-cliff-action@v4
        id: generate_release_notes
        with:
          args: -v --latest --strip header

      - name: Clean up release notes
        run: |
          cat ${{ steps.generate_release_notes.outputs.changelog }}
          cat ${{ steps.generate_release_notes.outputs.changelog }} | sed '1,2d' > release_notes.txt

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          body_path: release_notes.txt
          tag_name: ${{ github.ref_name }}
